/* Bootstrap specifics */
.container {
    width: 960px;
    display: none;
}
h4 {
  margin-top: 25px;
}
.row {
  /*margin-bottom: 20px;*/
}
.row .row {
  margin-top: 5px;
  /*margin-bottom: 30px;*/
}

hr {
    margin-top: 3px;
    margin-bottom: -5px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 5px;
}

/* font-awesome icons */
.fa-4 {
  pointer-events: none;
  margin-right: 5px;
  font-size: 1.3em;
}
.fa-3 {
  pointer-events: none;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 0.8em;
}

/* fonts */
h1,h2,h3,h4,h5 {
  font-family: "Roboto", sans-serif;
}

/* ============================================================== */
/*                       Page header                              */
/* ============================================================== */
.page-header {
  padding-bottom: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-bottom: none;
  color: #555;
}
.page-header h3 {
  font-weight: 700;
  font-size: 19px;
  color: #1CABE2;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.page-header p {
  color: #1CABE2;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}

/* ============================================================== */
/*                       Content container                        */
/* ============================================================== */
#content {
  height: 610px;
}

/* ============================================================== */
/*                       Front page                               */
/* ============================================================== */
#front-page {
  box-sizing: border-box;
  text-align: center;
  padding-top: 60px;
}
#front-page .title {
  width: 740px;
  padding: 15px 10px;
  background-color: #1cace2;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#front-page .title p {
  padding: 0 0;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 0px;
}
#front-page h3 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
#front-page .photographs {
  position: relative;
  z-index: -1;
  margin-left: 130px;
  margin-top: -6px;
  margin-bottom: 140px;
  text-align: left;
  opacity: 0.9;
  padding: 5px;
  width: 67%;
}
#front-page .ui {
  height: 35px;
  font-size: 0.8em;
  font-weight: 500;
  color: #888;
  padding-top: 20px;
}
#front-page .logos {
  /*height: 75px;*/
  width: 65%;
  height: 65%;
}

/* ============================================================== */
/*                       Narration                                */
/* ============================================================== */
#narration {
  height: 250px;
  width: 960px;
  min-height: 15em;
  display: table-cell;
  vertical-align: middle;
}

#narration #line-up {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 1px;
  background-color: #888;
}
#narration #line-down {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  shape-rendering: crispEdges;
}
#narration #main-text {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 0px;
  padding: 10px 0 10px 0;
  font-size: 15px;
  color: #444;
  text-align: center;
}
#narration #main-text p {
  margin-bottom: 0px;
  padding: 10px 0 10px 0;
}
#narration #quote {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-size: 14px;
  font-style: italic;
  color: #444;
  font-weight: 300;
  text-align: center;
}

/* ============================================================== */
/*                       Case studies                             */
/* ============================================================== */
#case-studies {
  height: 360px;
  padding-top: 10px;
}
#case-studies .title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #555;
  padding-bottom: 20px;
}
#case-studies .reference {
  font-size: 13px;
  font-weight: 500;
  fill: #555;
  padding-bottom: 5px;
  cursor: pointer;
}
#case-studies .photographs img {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  width: 95%;
  height: 95%;
}

/* ============================================================== */
/*                       Further resources                        */
/* ============================================================== */
#further-resources {
  height: 360px;
  margin-top: -15px;
  text-align: center;
}
#further-resources .documents {
  margin-bottom: 15px;
}
#further-resources .documents .title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #555;
  margin-bottom: 5px;
}
#further-resources .links a {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #1cabe2;
  font-size: 12px;
}
#further-resources .links a:last-child {
  border-right: none;
}
#further-resources .thanks {
  margin-top: 45px;
}
#further-resources p {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-size: 12px;
  font-weight: 300px;
}

/* ============================================================== */
/*                     Placeholders -- debugging purpose          */
/* ============================================================== */
.placeholder {
  background-color: #eee;
}
.profile-chart.placeholder {
  height: 130px;
}
.main-chart.placeholder {
  height: 450px;
}

.ui-info {
  font-size: 11px;
  color: #A0A0A0;
}

/* ============================================================== */
/*                       Charts                                   */
/* ============================================================== */
#charts {
  height: 360px;
  margin-bottom: 0px;
}
.outcomes {
  height: 100%;
  padding-right: 0px;
  margin-right: -50px;
}
.outcomes #main-chart {
  height: 100%;
}
.profile {
  margin-top: -11px;
}
.profile .ui {
  font-size: 0.77em;
  font-weight: 500;
  color: #888;
  padding-left: 45px;
  margin-top: -14px;
}
#time-line-navigation .chart {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* ============================================================== */
/*                       Footer                                   */
/* ============================================================== */
.footer {
  margin-bottom: 20px;
  font-size: 0.8em;
  text-align: center;
  color: #888;
}
.footer p {
  margin-bottom: 0px;
}
.footer .title {
  font-weight: 700;
  margin-bottom: 5px;
}
.footer .topic,
.footer .author {
  display: inline-block;
  font-size: 0.9em;
}
.footer .topic {
  padding-right: 5px;
  padding-left: 2px;
  font-weight: 700;

}
.footer .author {
  padding-right: 5px;
  border-right: 1px solid #888;
}
.footer p span:last-child {
  border-right: none;
}

/* Charts */
.chart {
  font-family: "Open", sans-serif;
}
.bar-chart-vert rect {
  fill: #538dbc;
  fill: #5e5e66;
  stroke: none;
  fill-opacity: 1;
}

.bar-chart-vert rect.not-selected {
  fill: #dedede;
}
.bar-chart-vert .axis {
  font: 10px sans-serif;
}
.bar-chart-vert .axis path,
.bar-chart-vert .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar-chart-vert .axis path {
  display: none;
}
.bar-chart-vert .y.axis .tick line {
  display: none;
}
.bar-chart-vert .x.axis .tick line {
  stroke: white;
  stroke-width: 2;
}
.bar-chart-vert .x.label {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  fill:#555;
}
.bar-chart-vert .brush .extent {
  fill: black;
  fill-opacity: 0.05;
}
.bar-chart-stacked-single rect.not-selected {
  fill: #ddd !important;
}
.bar-chart-stacked-single rect.not-selected.hovered {
  stroke: none;
}
.bar-chart-stacked-single .y.axis .tick text {
  display: none;
}
.bar-chart-stacked-single .label line {
  stroke: #333;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.bar-chart-stacked-single .legend text {
  font-size: 11px;
}

#households-head {
  margin-top: -5px;
}
#children-gender {
  margin-left: -2px;
}

/* main chart */
.main-chart {
  margin-top: 30px;
}

/* main multi series time line*/
#main-chart {
  font-size: 11px;
}
#main-chart rect {
  /*opacity: 0.8;*/
}
#main-chart .axis path {
  fill: none;
  stroke: none;
}
#main-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#main-chart .x.axis path {
  display: none;
}
#main-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  shape-rendering: auto;
  stroke-opacity: 0.7;
}
#main-chart .line.not-highlighted {
  stroke: #ccc !important;
  stroke-width: 1px;
}
#main-chart .line.highlighted {
  stroke-width: 2 !important;
  stroke-opacity: 0.6 !important;
}

#main-chart circle {
  /*fill: steelblue;*/
}
#main-chart circle.not-highlighted {
  fill: #ccc !important;
}

#main-chart .legend.highlighted text {
  font-weight: bold;
  font-size: 12px;
}
#main-chart .legend.not-highlighted text {
  font-weight: normal;
  font-size: 11px;
  fill: #ccc;
}
#main-chart .legend.not-highlighted line {
  stroke: #ccc !important;
}
#main-chart .legend.not-highlighted circle {
  fill: #ccc !important;
}

#main-chart .figures text {
  font-size: 11px;
  font-weight: 700;
  text-anchor:
}

.bar-chart-stacked-single .legend text {
  font-size: 11px;
}

#main-chart .main.title {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #555;
}
#main-chart .heatmap {
  display: inline-block;
}
/*#main-chart .heatmap #id-0 {
  margin-left: 70px;
}*/
#main-chart .heatmap rect {
  stroke: none;
  fill-opacity: 1;
  stroke: #333;
  stroke-width: 0.1px;
}
#main-chart .heatmap .names text {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  fill: #222;
}

#main-chart .bar-chart-education rect {
  /*fill: #80A6B1;*/
  fill: #003950;
}
#main-chart .bar-chart-education .figures text {
  fill: #333;
  font-weight: 700;
  font-size: 12px;
}
#main-chart .bar-chart-multi-stacked rect {
  opacity: 1 !important;
}

/* Voronois */
#main-chart .voronoi path {
  fill: none;
  stroke: none;
  stroke-opacity: .2;
  pointer-events: all;
}

/* Background sample */
#main-chart #background-sample {
  height: 100%;
}
#main-chart #background-sample #age {
  height: 100%;
}
#main-chart #background-sample #gender {
  height: 100%;
}
#main-chart #background-sample #poverty {
  height: 100%;
}
.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
}
.c3-chart-arc text {
    fill: #fff;
    font-size: 11px;
}

/* Coping mechanisms */
#heatmap-legends {
  padding-top: 28px;
}
#heatmap-legends .y.axis text {
  font-size: 10px;
  color: #555;
}

#current {
  width: 110px;
  margin-top: 31px;
}
#stopped {
  width: 110px;
  margin-top: -10px;
  padding-left: 5px;
}

/* Living conditions charts */
#main-chart #living-conditions {
  margin-top: -1px;

}
#main-chart #basic-needs {
  display: inline-block;
  padding-right: 0px;
  width: 285px;
}
#main-chart #improvement {
  display: inline-block;
  padding-left: 0px;
}


/* time line navigation */
.nav {
  margin-bottom: 40px;
}
.btn {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-default:hover {
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
}
.btn.active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:focus,.btn:active {
   outline: none !important;
}

#time-line-navigation .btn {
  display: block;
  width: 70px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 5px;
  border: none;
  margin-bottom: 5px;
}
#time-line-navigation .btn:hover {
  border:1px solid #999;
}
/*#time-line-navigation .btn {
  /*margin-top: 16px;*/
/*}*/

/*#time-line-navigation span {
  display: inline-block;
  width: 35px;
}

#time-line-navigation i {
  width: 12px;
}*/

#time-line-navigation circle {
  fill: white;
  /*fill: #ddd;*/
  stroke: #aaa;*/
  stroke-width: 1px;
  /*stroke-width: 30px;
  stroke: white;
  stroke-opacity: 0.01;*/
}
#time-line-navigation circle.hidden {
  fill: none;
  stroke: none;
}
#time-line-navigation circle.elapsed {
  fill: #555;
  stroke: none;
  /*stroke: white;
  stroke-width: 30px;
  stroke-opacity: 0.01;*/
}
#time-line-navigation line {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#time-line-navigation text {
  font-size: 10px;
  color: #555;
  /*fill: #00A5D5;*/
}
#time-line-navigation text.elapsed {
  font-weight: bold;
  font-size: 11px;
  color: #333;

}


/* dimple related - might be all removed */
.selectable .dimple-bar {
  fill: #eee !important;
  /*fill: steelblue !important;*/
  /*stroke: #ddd !important;*/
  stroke: none !important;
  /*opacity: 0.3;*/
}

.selectable .dimple-bar.selected {
  /*fill: steelblue !important;*/
  fill: rgb(128, 177, 211) !important;
  /*opacity: 0.9 !important;*/
  stroke: none !important;
}

/* Spinner */
.spinner {
  margin: 100px auto;
  margin-top: 400px;
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #1cabe2;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.loading {
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #777;
}
