.chart rect {
  fill: #eee !important;
  fill: steelblue !important;
  stroke: #ddd !important;
  stroke: #777 !important;
  opacity: 0.3;
}

.chart rect.selected {
  fill: steelblue !important;
  opacity: 0.9 !important;
  stroke: #777 !important;
}
